{% extends "base.html.twig" %}

{% block content %}

<div class="ui container">
  <h1>Profile</h1>
  <div class="ui cards">
    <div class="ui raised card">
      <div class="content">
        <div class="header">{{ me.display_name }}</div>
        <div class="meta">
          <span class="right floated time">
            <a href="{{ me.external_urls.spotify }}" target="_blank"><i class="linkify icon"></i></a>
          </span>
          
          <span class="category"><i class="compass outline icon"></i>{{ me.id }}</span>
        </div>
        <div class="description">
        <i class="envelope outline icon"></i>
          {{ me.email }}
        </div>
        <div class="description">
          {{ me.product }}
        </div>
      </div>
      <div class="extra content">
        <i class="check icon"></i>
        {{ me.followers.total }} Followers
      </div>
    </div>
  </div>

  <a href="{{ path('logout') }}" class="ui red button right floated"><i class="power icon"></i> Logout</a>

  <pre><code>
    {{ dump(me) }}
  </code></pre>

   <pre><code>
    {{ dump(token) }}
  </code></pre>

  <pre><code>
    {{ dump(request) }}
  </code></pre>

</div>

{% endblock %}

{# tout mettre dans une BDD API SLACK qui reprend ces données 
renseigner ton identifiant / nom / prenom dans slack 
commande slack pouvant ouvrir navigat #}